/* =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================
*/
html,
body {
  margin: 0;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  margin-left:15px;
  margin-right:15px;
  position: relative;
  top: -60px;
  border-radius: 25px;
}

li {
  float: left;
  width:25%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #FFFFFF;
  font-family:"Architects Daughter";
  font-weight: bold;
  font-size:20px;
}

li a:hover {
  background-color: #d6502b;
}

body {
  height: 1900px;
  border: 50px dotted #d6502b;
/* code for background image: start*/
  background: #efe7d2;
  background-image: url("https://i.pinimg.com/originals/d8/49/6f/d8496f61918cb48f9ebfd0659609c91e.jpg"); 
  background-position: 750px 300px;
  background-repeat: no-repeat;
  background-size: 1000px;
/* code for background image: end*/
  
}

h1{
  display: flex;
  border: 15px double #000000;
  padding-bottom: 10px;
  background: #d6502b;
  font-family: Pacifico;
  color: #FFFFFF;
  font-size: 60px;
  text-shadow: -5px 5px 10px #000, -1px -1px 0px #000;
  justify-content: center;
  position: relative;
  top: -20px;
  margin-left:15px;
  margin-right:15px;
  border-radius: 25px;
}


main{
  position: relative;
  top: 0px;
  margin: 30px
}

.circle {
  border-radius: 50%;
  box-shadow: ;
  width: 200px;
  height: 150px;
  padding: 10px;
  background: #d6502b;
  border: 10px double #000000;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  font: 36px Pacifico, sans-serif;
  text-shadow: -5px 5px 10px #000, -1px -1px 0px #000;
  text-align: center;
  position: relative;

}

p{
  display: flex;
  background: #967a72;
  padding: 10px;
  color: ;
  font-family:"Architects Daughter";
  font-size:20px;
  text-align: center;
  justify-content: center;
  margin-left:;
  margin-right:;
  border-radius: 25px;
  border: 10px double #d6502b;
}

#my-background{
    font: 36px Pacifico, sans-serif;
}
#first-paragraph
{
  position: relative;
  top: -240px;
  left: 250px;
  width: 700px;
}

#my-interests-and-hobbies{
  position: relative;
  top: -200px;
  font: 32px Pacifico, sans-serif;
  padding-top: 35px;

}

#second-paragraph{
  background: #967a72;
  padding: 10px;
  color: ;
  font-family:"Architects Daughter";
  font-size:20px;
  justify-content: center;
  margin-left:;
  margin-right:;
  border-radius: 25px;
  border: 10px double #d6502b;
  width:700px;
  position: relative;
  top: -450px;
  left: 250px;
}

.second-paragraph{
  background: ;
  height:280px;
  display: grid;
  grid-template-columns: 700px 310px;
  
}

.video{
  position: relative;
  top: -100px;
  right: 400px;
  border: 10px solid #967a72; 
  background: #967a72;
  border-radius: 50%;
  border: 10px double #d6502b;
}

#video{
  position: relative;
  top: 10px;
  left: 3px;
  width: 280px;
  height: 250px;
  border-radius: 50%;
/*   border: 10px solid #967a72;  */
}

a {
  color: #d6502b;
}

#why-software-development{
  font: 30px Pacifico, sans-serif;
  padding-top: 35px;
  position: relative;
  top: -125px;
}

.third-paragraph{
  width: 1000px;
  position: relative;
  top: -325px;
  left: 250px;
}

#why-codeyourfuture{
  font: 26px Pacifico, sans-serif;
  padding-top: 35px;
  position: relative;
  top: -300px;
}

.fourth-paragraph{
  display: grid;
  grid-template-columns: 265px 745px;
}

#fourth-paragraph{
  background: #967a72;
  padding: 10px;
  color: ;
  font-family:"Architects Daughter";
  font-size:20px;
  justify-content: center;
  position: relative;
  top: -29px;
  width: 1000px;
  height: 125px;
  border-radius: 25px;
  border: 10px double #d6502b;
  position: relative;
  top: -525px;
  left: -12px
  
}

.CYF-logo{
  width: 170px;
  height: 170px;
  overflow: hidden;
  position: relative;
  top: -400px;
  left: 1000px;
  border: 10px solid #967a72; 
  background: #967a72;
  border-radius: 50%;
  border: 10px double #d6502b;
}

#CYF-logo{
  width: 90%;
  height: auto;
  margin: 10px 0px 0px 10px;
}



footer{
  text-align: center;
  background: #000000;
  color: #FFFFFF;
  font-family:"Architects Daughter";
  font-weight: bold;
  font-size:28px;
  justify-content: center;
  border-radius: 25px;
  position: relative;
  top: -450px;
}

aside{
  position: relative;
  top: 100px;  
}


/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors { display:none }